<%= render 'shared/header' %>

<div class = "l-container">
  <div class = "l-side">
    <%= render 'shared/side-list'%>
  </div>
  <div class = "l-main">
    <div class= "user_profile">
      <h2 class = "search-result" id = "#0">ユーザープロフィール</h2>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">ニックネーム</th>
            <td class="user-detail-value"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-item">email</th>
            <td class="user-detail-value"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="detail-item">フルネーム</th>
            <td class="user-detail-value"><%= @user.last_name %> <%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="detail-item">誕生日</th>
            <td class="user-detail-value"><%= @user.birth_day %></td>
          </tr>
          <tr>
            <th class="detail-item">カード情報</th>
              <% unless current_user.card.present? %>
              <td class="user-detail-value"><%= link_to "クレジットカードを登録してください", new_card_path %></td>
            <%else%>
              <td class="user-detail-value"><%= "**** **** **** " + @card[:last4] %></td>
            <%end%>
          </tr>
          <% if current_user.shipping_address.present? %>
          <tr>
            <th class="detail-item">配送先</th>
              <td class="user-detail-value detail_shipping_address">
                <div class="shipping_address_info">
                  <div class="shipping_address_post">
                    〒<%= current_user.shipping_address.post_code %>
                  </div>
                  <div class = "shipping_address_name">
                    <%= current_user.shipping_address.prefecture.name %>
                    <%= current_user.shipping_address.city %>
                    <%= current_user.shipping_address.block %>
                  </div>
                </div>
                <div class = "shipping_address_edit_link">
                  <%= link_to "配送先を変更する",edit_shipping_address_path(current_user.shipping_address) %>
                </div>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'products', products: @user_like_products, content: "いいね！した", link_id: "#1" %>
    <%= render 'products', products: @user_products, content: "出品中の", link_id: "#2" %>
    <%= render 'products', products: @user_comment_products, content: "コメントした", link_id: "#3" %>
  </div>
</div>
<%= render 'shared/footer' %> 

