<%= render 'shared/header' %>
<% breadcrumb :category_index %>
<p><%= breadcrumbs separator: " &rsaquo; " %></p>

<div class = "category-container">
  <div class = "category-list-container">
    <h1 class = "category-title">カテゴリー一覧</h1>
    <ul class="category-lists">
    <% @categories.each_with_index do |category, i| %>
      <li class = "category_list"><%= link_to category.name, "##{i}", class: "category-list-name" %></li>
    <% end %>
    </ul>
    <% @categories.each_with_index do |category, i| %>
      <div class = "category-field"> 
        <h2 class = "category-parent-title" id=<%= "##{i}" %>><%= category.name %></h2>
        <div class = "category-box">
          <%= link_to 'すべて', category_path(category.id), class: 'category-all' %>
          <% category.children.each do |category_child| %>
            <h3 class = "category-child-title"> <%= category_child.name %> </h3>
            <div class = "category-child-childs">
              <ul class = "category-child-childs-lists">
                <% category_child.children.each do |category_grandchild| %>
                  <% if category_grandchild.name == 'すべて' %>
                    <li><%= link_to category_grandchild.name, category_path(category_child.id), class: "category-child-childs-list"%></li>
                  <% else %>
                    <li><%= link_to category_grandchild.name, category_path(category_grandchild.id), class: "category-child-childs-list"%></li>
                  <% end %>
                <% end %>
              </ul>
              <div class = "after"></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
