<%= render "shared/header" %>

<% if @category.root? %>
  <% breadcrumb :parent_category %>
<% elsif @category.has_children? %>
  <% breadcrumb :child_category %>
<% else %>
  <% breadcrumb :grandchild_category %>
<% end %>
<p><%= breadcrumbs separator: " &rsaquo; " %></p>

<div class='main'>

  
  <div class='item-contents'>
    <h2 class='title'><%= @category.name %>の商品一覧</h2>
    <ul class='item-lists'>

      <%  if @products.any? %>
        <% @products.each do |product| %>
          <% if product.order.nil? %>
            <li class='list'>
              <%= link_to product_path(product) do %> 
                <div class='item-img-content'>
                  <%= image_tag product.image, class: "item-img" %>
                </div>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= product.name %>
                  </h3>
                  <div class='item-price'>
                    <span><%= product.price %>円<br><%= product.delivery_fee.name %></span>
                    <div class='star-btn'>
                      <%= image_tag "star.png", class:"star-icon" %>
                      <span class='star-count'>0</span>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <div>選択したカテゴリーに商品はありません<div>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_product_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>

